In [11]:
import pandas as pd

# Load dataset

In [12]:
general_data = pd.read_csv('../data/raw/general_data.csv')
employee_survey_data = pd.read_csv('../data/raw/employee_survey_data.csv')
manager_survey_data = pd.read_csv('../data/raw/manager_survey_data.csv')
in_time = pd.read_csv('../data/raw/in_time.csv')
out_time = pd.read_csv('../data/raw/out_time.csv')

print("===== General Data =====")
print(general_data.info())
print(general_data.head())

print("===== Employee Survey Data =====")
print(employee_survey_data.info())
print(employee_survey_data.head())

print("===== Manager Survey Data =====")
print(manager_survey_data.info())
print(manager_survey_data.head())

print("===== In Time =====")
print(in_time.info())
print(in_time.head())

print("===== Out Time =====")
print(out_time.info())
print(out_time.head())

===== General Data =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4391 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4401 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB
None
   Age Attrition     BusinessTravel              Department  DistanceFromHome  \
0   51        No      Travel_Rarely                   Sales                 6
1   31       Yes  Travel_Frequently  Research & Development                10
2   32        No  Travel_Frequently  Research & Development                17
3   38        No         Non-Travel  Research & Development                 2
4   32        No      Travel_Rarely  Research & Development                10

   Education EducationField  EmployeeCount  EmployeeID  Gender  ...  \
0          2  Life Sciences              1           1  Female  ...
1          1  Life Sciences              1           2  Female  ...
2          4          Other              1           3    Male  ...
3          5  Life Sciences              1           4    Male  ...
4          1        Medical              1           5    Male  ...

   NumCompaniesWorked Over18 PercentSalaryHike  StandardHours  \
0                 1.0      Y                11              8
1                 0.0      Y                23              8
2                 1.0      Y                15              8
3                 3.0      Y                11              8
4                 4.0      Y                12              8

   StockOptionLevel TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  \
0                 0               1.0                      6               1
1                 1               6.0                      3               5
2                 3               5.0                      2               5
3                 3              13.0                      5               8
4                 2               9.0                      2               6

   YearsSinceLastPromotion  YearsWithCurrManager
0                        0                     0
1                        1                     4
2                        0                     3
3                        7                     5
4                        0                     4

[5 rows x 24 columns]
===== Employee Survey Data =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               4410 non-null   int64
 1   EnvironmentSatisfaction  4385 non-null   float64
 2   JobSatisfaction          4390 non-null   float64
 3   WorkLifeBalance          4372 non-null   float64
dtypes: float64(3), int64(1)
memory usage: 137.9 KB
None
   EmployeeID  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance
0           1                      3.0              4.0              2.0
1           2                      3.0              2.0              4.0
2           3                      2.0              2.0              1.0
3           4                      4.0              4.0              3.0
4           5                      4.0              1.0              3.0
===== Manager Survey Data =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         4410 non-null   int64
 1   JobInvolvement     4410 non-null   int64
 2   PerformanceRating  4410 non-null   int64
dtypes: int64(3)
memory usage: 103.5 KB
None
   EmployeeID  JobInvolvement  PerformanceRating
0           1               3                  3
1           2               2                  4
2           3               3                  3
3           4               2                  3
4           5               3                  3
===== In Time =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Columns: 262 entries, Unnamed: 0 to 2015-12-31
dtypes: float64(12), int64(1), object(249)
memory usage: 8.8+ MB
None
   Unnamed: 0  2015-01-01           2015-01-02           2015-01-05  \
0           1         NaN  2015-01-02 09:43:45  2015-01-05 10:08:48
1           2         NaN  2015-01-02 10:15:44  2015-01-05 10:21:05
2           3         NaN  2015-01-02 10:17:41  2015-01-05 09:50:50
3           4         NaN  2015-01-02 10:05:06  2015-01-05 09:56:32
4           5         NaN  2015-01-02 10:28:17  2015-01-05 09:49:58

            2015-01-06           2015-01-07           2015-01-08  \
0  2015-01-06 09:54:26  2015-01-07 09:34:31  2015-01-08 09:51:09
1                  NaN  2015-01-07 09:45:17  2015-01-08 10:09:04
2  2015-01-06 10:14:13  2015-01-07 09:47:27  2015-01-08 10:03:40
3  2015-01-06 10:11:07  2015-01-07 09:37:30  2015-01-08 10:02:08
4  2015-01-06 09:45:28  2015-01-07 09:49:37  2015-01-08 10:19:44

            2015-01-09           2015-01-12           2015-01-13  ...  \
0  2015-01-09 10:09:25  2015-01-12 09:42:53  2015-01-13 10:13:06  ...
1  2015-01-09 09:43:26  2015-01-12 10:00:07  2015-01-13 10:43:29  ...
2  2015-01-09 10:05:49  2015-01-12 10:03:47  2015-01-13 10:21:26  ...
3  2015-01-09 10:08:12  2015-01-12 10:13:42  2015-01-13 09:53:22  ...
4  2015-01-09 10:00:50  2015-01-12 10:29:27  2015-01-13 09:59:32  ...

            2015-12-18           2015-12-21           2015-12-22  \
0                  NaN  2015-12-21 09:55:29  2015-12-22 10:04:06
1  2015-12-18 10:37:17  2015-12-21 09:49:02  2015-12-22 10:33:51
2  2015-12-18 10:15:14  2015-12-21 10:10:28  2015-12-22 09:44:44
3  2015-12-18 10:17:38  2015-12-21 09:58:21  2015-12-22 10:04:25
4  2015-12-18 09:58:35  2015-12-21 10:03:41  2015-12-22 10:10:30

            2015-12-23           2015-12-24 2015-12-25           2015-12-28  \
0  2015-12-23 10:14:27  2015-12-24 10:11:35        NaN  2015-12-28 10:13:41
1  2015-12-23 10:12:10                  NaN        NaN  2015-12-28 09:31:45
2  2015-12-23 10:15:54  2015-12-24 10:07:26        NaN  2015-12-28 09:42:05
3  2015-12-23 10:11:46  2015-12-24 09:43:15        NaN  2015-12-28 09:52:44
4  2015-12-23 10:13:36  2015-12-24 09:44:24        NaN  2015-12-28 10:05:15

            2015-12-29           2015-12-30           2015-12-31
0  2015-12-29 10:03:36  2015-12-30 09:54:12  2015-12-31 10:12:44
1  2015-12-29 09:55:49  2015-12-30 10:32:25  2015-12-31 09:27:20
2  2015-12-29 09:43:36  2015-12-30 09:34:05  2015-12-31 10:28:39
3  2015-12-29 09:33:16  2015-12-30 10:18:12  2015-12-31 10:01:15
4  2015-12-29 10:30:53  2015-12-30 09:18:21  2015-12-31 09:41:09

[5 rows x 262 columns]
===== Out Time =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Columns: 262 entries, Unnamed: 0 to 2015-12-31
dtypes: float64(12), int64(1), object(249)
memory usage: 8.8+ MB
None
   Unnamed: 0  2015-01-01           2015-01-02           2015-01-05  \
0           1         NaN  2015-01-02 16:56:15  2015-01-05 17:20:11
1           2         NaN  2015-01-02 18:22:17  2015-01-05 17:48:22
2           3         NaN  2015-01-02 16:59:14  2015-01-05 17:06:46
3           4         NaN  2015-01-02 17:25:24  2015-01-05 17:14:03
4           5         NaN  2015-01-02 18:31:37  2015-01-05 17:49:15

            2015-01-06           2015-01-07           2015-01-08  \
0  2015-01-06 17:19:05  2015-01-07 16:34:55  2015-01-08 17:08:32
1                  NaN  2015-01-07 17:09:06  2015-01-08 17:34:04
2  2015-01-06 16:38:32  2015-01-07 16:33:21  2015-01-08 17:24:22
3  2015-01-06 17:07:42  2015-01-07 16:32:40  2015-01-08 16:53:11
4  2015-01-06 17:26:25  2015-01-07 17:37:59  2015-01-08 17:59:28

            2015-01-09           2015-01-12           2015-01-13  ...  \
0  2015-01-09 17:38:29  2015-01-12 16:58:39  2015-01-13 18:02:58  ...
1  2015-01-09 16:52:29  2015-01-12 17:36:48  2015-01-13 18:00:13  ...
2  2015-01-09 16:57:30  2015-01-12 17:28:54  2015-01-13 17:21:25  ...
3  2015-01-09 17:19:47  2015-01-12 17:13:37  2015-01-13 17:11:45  ...
4  2015-01-09 17:44:08  2015-01-12 18:51:21  2015-01-13 18:14:58  ...

            2015-12-18           2015-12-21           2015-12-22  \
0                  NaN  2015-12-21 17:15:50  2015-12-22 17:27:51
1  2015-12-18 18:31:28  2015-12-21 17:34:16  2015-12-22 18:16:35
2  2015-12-18 17:02:23  2015-12-21 17:20:17  2015-12-22 16:32:50
3  2015-12-18 17:55:23  2015-12-21 16:49:09  2015-12-22 17:24:00
4  2015-12-18 17:52:48  2015-12-21 17:43:35  2015-12-22 18:07:57

            2015-12-23           2015-12-24 2015-12-25           2015-12-28  \
0  2015-12-23 16:44:44  2015-12-24 17:47:22        NaN  2015-12-28 18:00:07
1  2015-12-23 17:38:18                  NaN        NaN  2015-12-28 17:08:38
2  2015-12-23 16:59:43  2015-12-24 16:58:25        NaN  2015-12-28 16:43:31
3  2015-12-23 17:36:35  2015-12-24 16:48:21        NaN  2015-12-28 17:19:34
4  2015-12-23 18:00:49  2015-12-24 17:59:22        NaN  2015-12-28 17:44:59

            2015-12-29           2015-12-30           2015-12-31
0  2015-12-29 17:22:30  2015-12-30 17:40:56  2015-12-31 17:17:33
1  2015-12-29 17:54:46  2015-12-30 18:31:35  2015-12-31 17:40:58
2  2015-12-29 17:09:56  2015-12-30 17:06:25  2015-12-31 17:15:50
3  2015-12-29 16:58:16  2015-12-30 17:40:11  2015-12-31 17:09:14
4  2015-12-29 18:47:00  2015-12-30 17:15:33  2015-12-31 17:42:14

[5 rows x 262 columns]

# Fix column

In [13]:
in_time = in_time.rename(columns={'Unnamed: 0': 'EmployeeID'})
out_time = out_time.rename(columns={'Unnamed: 0': 'EmployeeID'})

# Merge table

In [14]:
df = (
    general_data
    .merge(employee_survey_data, on='EmployeeID', how='left')
    .merge(manager_survey_data, on='EmployeeID', how='left')
)

In [15]:
in_dt = in_time.copy()
out_dt = out_time.copy()

for col in in_dt.columns[1:]:
    in_dt[col] = pd.to_datetime(in_dt[col])
for col in out_dt.columns[1:]:
    out_dt[col] = pd.to_datetime(out_dt[col])

work_hours = (out_dt.iloc[:, 1:] - in_dt.iloc[:, 1:]).apply(
    lambda x: x.dt.total_seconds() / 3600
)

avg_work_hours = work_hours.mean(axis=1)

work_hours = pd.concat(
    [in_dt[['EmployeeID']], avg_work_hours.rename('AvgWorkHours')],
    axis=1
).copy()

df = df.merge(work_hours, on='EmployeeID', how='left')

In [16]:
df

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,AvgWorkHours
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,6,1,0,0,3.0,4.0,2.0,3,3,7.373651
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,3,5,1,4,3.0,2.0,4.0,2,4,7.718969
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,2,5,0,3,2.0,2.0,1.0,3,3,7.013240
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,5,8,7,5,4.0,4.0,3.0,2,3,7.193678
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,2,6,0,4,4.0,1.0,3.0,3,3,8.006175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,5,3,0,2,4.0,1.0,3.0,3,3,8.522277
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2,3,0,2,4.0,4.0,3.0,2,3,6.092954
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,4,4,1,2,1.0,3.0,3.0,3,4,7.706632
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,2,9,7,8,4.0,1.0,3.0,2,3,9.492595
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,6,21,3,9,1.0,3.0,NaN,4,3,6.988948